/* 
    #DEVELOPER          DATE        COMMENTS
    #Gurpreet(1911343)   19/02/2021  did css for background, logo-style, navigationBar
    #Gurpreet(1911343)   21/02/2021  did css for website title, homePage text and advertisment
    #Gurpreet(1911343)   26/02/2021  did css for form and buttons
    #Gurpreet(1911343)   01/03/2021  modified css for advertisment
    #Gurpreet(1911343)   03/03/2021  added css for order page and table in that page
    #Gurpreet(1911343)   19/04/2021  added css for Login and logout form
    
*/

.bg-color-lightcyan{
    background-color: lightcyan;
}

.logo-style{
    width: 220px;
    height: 150px;
    position: absolute;
    top: 10px;
}

.navigation-bar{
    margin-top: 25px;
    float: right;
    width: 100%;
}

h1{
    color:#47210b;
}

.navigation-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #47210b;
    float: right;
    width: 80%
}

.navigation-bar ul li{
    display: inline-block;
}
.navigation-bar ul li a{
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    border: 2px solid #47210b;
    font-family: sans-serif;
}

.navigation-bar ul li a:hover {
  background-color: whitesmoke;
  color: black;
}

.website-title{
    text-align: center;
    font-size: 46px;
    top: 10px;
    margin-left: 200px;
}

.home-paragraph{
    font-size: 19px;
    font-family: serif;
    height: 300px;
    width: 500px;
    float: right; 
    margin: 10px 50px;
}

.copyright-info{
    text-align: center;
    margin-top: 50px;
}

body{height:100%}
.advertising-section{
    margin: 50px 10px;
    padding: 90px;
}

.basic-adv{
    width: 350px;
    height: 250px;
}

.gold-adv{
    border: 5px solid red;
    width: 600px;
    height: 400px;
}

/* for form Buying page -----------------------------------------*/
.buying-form{
    margin: 150px auto;
    width: 500px;
    border: 5px dotted #47210b;
    padding: 20px 15px;
}

.buying-form h2{
    text-align: center;
    color:#47210b;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.buying-form label{
    font-size: 15px;
    font-family: monospace;
}

.buying-form .error-code-label{
    font-size: 15px;
    color: red;
}

.buying-form .button{
    background-color: white;
    color: #47210b;
    border: 2px solid #47210b;
    padding: 10px 20px;
    font-size: 15px;
    margin: 12px 7px 0px 7px;
}

.buying-form .button:hover{
    background-color: #47210b;
    color: white;
}

.button-section{
    text-align: center;
}

/*-------------------Orders page-------------------- */
.error-file{
    font-size: 24px;
    color: red;
    text-align: center;
    margin: 100px;
}

.table-order table, .table-order th, .table-order td{
    border: 2px double #004d4d;
    border-collapse: collapse;
}

.table-order{
    margin: 140px 0px;
}

.table-order h2{
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.table-order table{
    margin: 10px auto;
}

.table-order th, .table-order td{
    text-align: left;
    padding: 8px;
}

.table-order tr:nth-child(odd){
    background-color: #99ffff;
}

.table-order th{
    background-color: #00ffff;
}

/* For parameters in URL----*/
.arguPrint-background{
    background-color: white;
}

.arguPrint-opacity{
    opacity: 0.3;
}

.arguColor-red{
    color: red;
}

.arguColor-orange{
    color: orange;
}

.arguColor-green{
    color: green;
}

/* For download the cheetsheat */
.cheatSheet-download{
    font-family: cursive;
    font-size: 15px;
}

.cheatSheet-download a{
    text-decoration: none;
    color: #47210b;
}

.cheatSheet-download a:hover{
    color: blue;
}

/*------------------------------------------------PROJECT part 3-------------------------------*/

/* For login logout form */
.login-logout-form{
    margin: 120px auto 50px;
    width: 500px;
    border: 3px dotted #47210b;
    padding: 10px 15px;
}

.login-logout-form h2{
    text-align: center;
    color:#47210b;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.login-logout-form label{
    font-size: 15px;
    font-family: monospace;
}

.login-logout-form .error-code-label{
    font-size: 15px;
    color: red;
}

.login-logout-form .button{
    background-color: white;
    color: #47210b;
    border: 2px solid #47210b;
    padding: 10px 20px;
    font-size: 15px;
    margin: 12px 7px 0px 7px;
}

.login-logout-form .button:hover{
    background-color: #47210b;
    color: white;
}

.button-section{
    text-align: center;
}

/* logout form*/
.logout-form{
    margin: 120px 50px 50px auto;
    width: 400px;
    border: 3px dotted #47210b;
    padding: 0px 0px;
}
.welcome-color{
    color: #e4452a;
}